
*{
    padding: 0;
    margin: 0;
    box-shadow: 0;
}
.nb {
  margin-top:30px ;
}
header{
  padding: 10px;
}
.hd a{
text-decoration: none;
}
header .hd a:hover{
  color: wheat;
}
/* .nav-link:hover{
  text-decoration: underline;
} */

.navi{
  top: 0px;
  position: sticky;
  z-index: 9999;
}
.navbar .navbar-nav .nav-link:hover{
  color: red;
}



/* **************************Start Look ******************************* */

.lock-pvc ul{
list-style-type: none;
}
.lock-pvc .lc{
    color: white;
    padding: 10px;
    border-radius: 50px;
background-color: red;
} 
/* *********************** hr ***************************** */

/* ************************** our-door od ******************************* */
 .our-door .od h4{
    
    padding: 20px 10px 20px 2px;
    background-image: linear-gradient(red, yellow);

    border-radius: 50px;
}
.our-door .od-c h4{
    padding: 40px;
    border-radius: 50px;
} 
/* ******************************** About ******************************* */
/* imgmark */
.newsCard {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #fff;
    color:#fff;
    overflow: hidden;
    border-radius: 6px;
  }
  
  figure img {
  display: block;
  object-fit: cover !important;
  object-position: center center !important; height: 100%;
  width: 100%;
  }
  
  .overlay{
    background: rgb(40,26,54);
    background: -moz-linear-gradient(0deg, rgba(40,26,54,1) 0%, rgba(89,59,116,0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(40,26,54,1) 0%, rgba(89,59,116,0) 100%);
    background: linear-gradient(0deg, rgba(40,26,54,1) 0%, rgba(89,59,116,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#281a36",endColorstr="#593b74",GradientType=1);
    display:block;
    position: absolute;
    height: 200px;
    width: 100%;
    bottom: 0;
    z-index: 3;
  }
  
  .newsCaption {
    position: absolute;
    top: auto;
    bottom: 31px;
    left: 0;
    width: 100%;
    height: 35%;
    z-index: 10;
    padding: 15px;
    -webkit-transform: translateY(80%);
    transform: translateY(80%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition:  -webkit-transform 0.4s;
    transition:  -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s,  -webkit-transform 0.4s;
  }
  .newsCaption i{font-size: 24px;}
  
  .newsCaption-title {
    margin-top: 0px;
  }
  .newsCaption-content {
    margin: 0;
  }
  
  .newsCaption-link {
    color: #fff;
    text-decoration: underline;
    opacity: .8;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
            transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
  }
  .news-Slide-up:hover .overlay{ background: rgb(64,10,111);
  background: -moz-linear-gradient(0deg, rgba(64,10,111,1) 0%, rgba(89,59,116,0) 100%);
  background: -webkit-linear-gradient(0deg, rgba(64,10,111,1) 0%, rgba(89,59,116,0) 100%);
  background: linear-gradient(0deg, rgba(64,10,111,1) 0%, rgba(89,59,116,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#400a6f",endColorstr="#593b74",GradientType=1);
  }
  
  .news-Slide-up:hover .newsCaption {
  
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transition:  -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s,;
    transition: transform 0.4s, -webkit-transform 0.4s;
  }
  .tu{
      position: relative;
      font-size: 40px;
      margin-left: 10px;
      top :10px;
  }

/* **************************** About End **************************** */

/* #################################### Footer**************** */
footer .fot ul li{

list-style-type: none;
}
/* **************************Responcive ******************************* */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navbari{
        width: 100%;
        justify-content: center;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.fa-brands .hi{
  font-size: 5px;
margin-top: 30px;
   }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .where-text h3{
        font-size: 18px;
    }
       .where-text p{
font-size: 12px;
       }
       .hd a{
        font-size: 8px;
       }
    }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .where-text h3{
    font-size: 27px;
}
   .where-text p{
font-size: 16px;
   }
   .why-should .shu-text img{
width: 100%;
height: 600px;
   }
   .hd a{
    font-size: 13px;
   }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .hd a{
    font-size: 18px;
   }
}